doctype html
html(data-ng-app='search')
  head
    title craigslist search
    link(rel='stylesheet', type='text/css', href='styles/app.css')
    script(src='//www.google.com/jsapi')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-sanitize.js')
    script(src='scripts/app.js')
    script.
      google.load('feeds', 1);
  body(data-ng-controller='SearchController')
    h1 craigslist search
    form(data-ng-model='searchForm', data-ng-submit='search(newQuery)')
      input(data-ng-model='newQuery', type='text', autocomplete='on', placeholder='Type a search phrase...')
      input(type='submit', value='Search')
      select(data-ng-model='category')
        option(value='ccc') community
        option(value='eee') events
        option(value='ggg') gigs
        option(value='hhh') housing
        option(value='jjj') jobs
        option(value='ppp') personals
        option(value='res') resumes
        option(value='sss', selected='selected') for sale
        option(value='bbb') services
      button(type='button', onclick='$(\'#city_list\').slideToggle();') cities
      ul#city_list.hidden.selection-list
        li
          input#select_all(type='checkbox', data-ng-model='allselected', data-ng-change='citiesto(allselected)')
          label(for='select_all') all
        li(data-ng-repeat='city in cities', data-ng-class='\'selected-\' + city.selected')
          input(id='select_{{ city.slug }}', name='select_{{ city.slug }}', type='checkbox', value='{{ city.slug }}', data-ng-model='city.selected')
          label(for='select_{{ city.slug }}') {{ city.name }}
    .errors(data-ng-show='errors.length')
      h2 errors querying:
      ul
        li(data-ng-repeat='error in errors', data-ng-bind='error')
    h2.
      Results for "{{ query }}" ({{ result.length }} results)
    ul.city-status
      li(data-ng-class='"status-" + city.status', data-ng-repeat='city in cities | filter:{selected: true}') {{ city.name }}
    ul.result
      li(data-ng-repeat='item in result | filter:{hide:\'!true\'} | orderBy:\'-publishedDate\'')
        span
          span.published {{ now() - item.publishedDate | delta }}
          span.title(onclick='$(\'#description_{{ $index }}\').slideToggle();', data-ng-bind-html='item.title')
          span.buttons
            a.link(target='_blank', href='{{ item.link }}')
            button.hide(data-ng-click='item.hide = true')
        .description.hidden(id='description_{{ $index }}', data-ng-bind-html='item.content')
    a(href='https://github.com/macro1/angularjs-craigssearch')
      img(style='position: absolute; top: 0; right: 0; border: 0;', src='https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67', alt='Fork me on GitHub', data-canonical-src='https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png')
    script(type='text/javascript').
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-41414106-1']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
